<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<!-- scope="singleton" Create instance once -->
	<!-- <bean id="emp" class="com.cts.mavencode.model.Employee"
	scope="singleton">
		<property name="empid" value="7890" />
		<property name="name" value="Alice" />
		<property name="dept" value="Quantity" />
	</bean> -->

	<!-- scope="prototype" Create instance evertime -->
	<bean id="emp" class="com.cts.mavencode.model.Employee" scope="prototype">
	
		<!-- we use <property /> for "Setter injection" -->
		<property name="empid" value="7890" />
		<property name="name" value="Alice" />
		<property name="dept" value="Electric" />

		<!-- we use <constructor-arg /> for "Constructor injection" 
		pass as per parameterized constructor parameters position -->
		<!-- <constructor-arg value="7890" />
		<constructor-arg value="Alice" />
		<constructor-arg value="Electric" /> -->
	</bean>

	<bean id="book" class="com.cts.mavencode.model.Book" init-method="init" destroy-method="destroy">
		<property name="isbn" value="456789" />
		<property name="author" value="Pratham Potdar" />
		<property name="name" value="Java Programming" />
	</bean>

	<bean id="address" class="com.cts.mavencode.model.Address">
		<property name="dno" value="302" />
		<property name="street" value="MG Road" />
		<property name="city" value="Bangalore" />
	</bean>

	<!-- Autowire is the process of injecting missing bean autowire="byName"-->
	<!-- 1st way-->
	<bean id="person" class="com.cts.mavencode.model.Person" autowire="byName">
		<property name="id" value="123" />
		<property name="name" value="Pratham" />
		<!-- 3rd way  ref="address" -->
		<!-- <property name="address" ref="address"></property> -->
	</bean>

	<!-- 2nd way autowire="byType"-->
	<!-- <bean id="person" class="com.cts.mavencode.model.Person"
	autowire="byType">
		<property name="id" value="123" />
		<property name="name" value="Pratham" />
	</bean> -->

</beans>
 